<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="selmibenromdhane.sparta_v1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true"/>

    <uses-feature android:name="android.hardware.sensor.stepcounter" />
    <uses-feature android:name="android.hardware.sensor.stepdetector" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launchercolor"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.SplashScreenActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTop" />
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.BaseActivity" />
        <activity android:name=".activity.ExercisesActivity" />
        <activity android:name=".activity.ProfileActivity" />
        <activity android:name=".activity.HomeActivity" />
        <activity android:name=".activity.DetailsActivity" />
        <activity android:name=".activity.DetailScheduleActivity" />
        <activity android:name=".activity.DetailsClassesActivity" />
        <activity android:name=".activity.ClassesActivity" />
        <activity android:name=".activity.EventsActivity" />
        <activity android:name=".activity.TrainersActivity" />
        <activity android:name=".activity.DetailScheduleActivity1" />
        <activity android:name=".activity.DetailsClassesActivity1"></activity>
        <activity android:name=".activity.DetailTrainerActivity"></activity>
        <activity android:name=".activity.TrainerActivity1">


        </activity>
        <activity android:name=".activity.Profile2Activity" />


        <activity
            android:name=".activity.OverviewActivity"
            android:label="@string/title_activity_overview"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".activity.ExerciseListActivity"
            android:label="@string/title_activity_exercise_list"
            android:parentActivityName=".activity.OverviewActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.OverviewActivity" />
        </activity>

        <activity
            android:name=".activity.WorkoutsActivity"
            android:label="@string/title_activity_workouts"
            android:parentActivityName=".activity.OverviewActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.OverviewActivity" />
        </activity>
        <activity
            android:name=".activity.RoutinesActivity"
            android:label="@string/title_activity_routines"
            android:parentActivityName=".activity.OverviewActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.OverviewActivity" />
        </activity>
        <activity
            android:name=".activity.ExerciseDetailsActivity"
            android:label="@string/title_activity_exercise_details"
            android:parentActivityName=".activity.ExerciseListActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ExerciseListActivity" />
        </activity>
        <activity
            android:name=".activity.EditWorkoutActivity"
            android:label="@string/title_activity_edit_workout"
            android:parentActivityName=".activity.WorkoutsActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.WorkoutsActivity" />
        </activity>
        <activity
            android:name=".activity.EditSetsActivity"
            android:label="@string/title_activity_sets"
            android:parentActivityName=".activity.EditWorkoutActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.EditWorkoutActivity" />
        </activity>
        <activity
            android:name=".activity.EditRoutineActivity"
            android:label="@string/title_activity_edit_routine"
            android:parentActivityName=".activity.RoutinesActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.RoutinesActivity" />
        </activity>
        <activity
            android:name=".activity.EditProfileActivity"
            android:label="@string/title_activity_edit_profile"
            android:parentActivityName=".activity.OverviewActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.OverviewActivity" />
        </activity>
        <activity
            android:name=".activity.MainActivityPedo"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".activity.TrainingActivity"
            android:label="@string/activity_title_training"
            android:parentActivityName=".activity.TrainingOverviewActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.TrainingOverviewActivity" />
        </activity>
        <activity
            android:name=".activity.TrainingOverviewActivity"
            android:label="@string/activity_title_training"
            android:parentActivityName=".activity.MainActivityPedo">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivityPedo" />
        </activity>
        <activity
            android:name=".activity.MotivationAlertTextsActivity"
            android:label="@string/activity_title_motivation_alerts"
            android:parentActivityName=".activity.PreferencesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.PreferencesActivity" />
        </activity>
        <activity
            android:name=".activity.WalkingModesActivity"
            android:label="@string/activity_title_walking_modes"
            android:parentActivityName=".activity.PreferencesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.PreferencesActivity" />
        </activity>
        <activity
            android:name=".activity.WalkingModeLearningActivity"
            android:label="@string/activity_title_walking_modes"
            android:parentActivityName=".activity.WalkingModesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.WalkingModesActivity" />
        </activity>
        <activity android:name=".activity.GallerieActivity"></activity>
        <activity android:name=".activity.GridViewActivity"></activity>
        <activity android:name=".activity.DetailsGallerieActivity"></activity>



        <receiver android:name=".receivers.OnBootCompletedBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receivers.OnShutdownBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
                <!-- this is for some htc devices (and others) -->
                <action android:name="android.intent.action.QUICKBOOT_POWEROFF" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receivers.OnPackageReplacedBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receivers.StepCountPersistenceReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="org.secuso.privacyfriendlystepcounter.WALKING_MODE_CHANGED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".receivers.MotivationAlertReceiver"/>

        <service android:name=".services.AccelerometerStepDetectorService" />
        <service
            android:name=".services.HardwareStepDetectorService"
            android:stopWithTask="false" />
        <service
            android:name=".services.HardwareStepCounterService"
            android:stopWithTask="false" />

        <activity android:name=".activity.WelcomeActivity"></activity>
    </application>

</manifest>